<div class="news">
  {% if site.week %}
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
      {% assign week = site.week | sort: "week_num" %}
      {% for item in week limit: site.week_limit %}
        <tr>
          <!-- <th scope="row">{{ item.date | date: "%b %-d, %Y" }}</th> -->
          <th scope="row">{{ item.week }}</th>
          <td>
            {% if item.inline %}
              {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
            {% else %}
              <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </table>
    </div>
  {% else %}
    <p>No schedule so far...</p>
  {% endif %}
</div>
