---
layout: default
---

{% if page._styles %}
<style type="text/css">
  {{ page._styles }}
</style>
{% endif %}

<div class="post">

  <header class="post-header">
    <h1 class="post-title">Week {{page.week_num}}: {{ page.title }}</h1>
    <p class="post-meta">{{ page.session_date }}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    <a href="https://drive.google.com/drive/folders/1LK6bfgTpNFhCLEPraZSA_F702l-_vdBE?usp=sharing">Reading materials</a> | <a href="https://docs.google.com/document/d/1vH484H4gnSGaZS7N6DTazlEUdjXDsKKnJoRPj-r5Z-4/edit?usp=sharing">Weekly Q&A</a> | <a href="https://docs.google.com/presentation/d/1kBz6SDgG-Ghd5fotWhhgwA4rCI_m8ektGF6U_oIWcbQ/edit?usp=sharing">Lecture notes</a>
    <br>
    {{ content }}
  </article>

  {% if site.disqus_shortname and page.comments %}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      var disqus_shortname  = '{{ site.disqus_shortname }}';
      var disqus_identifier = '{{ page.id }}';
      var disqus_title      = {{ page.title | jsonify }};
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  {% endif %}

  {%- if site.giscus.repo and page.giscus_comments -%}
    {% include giscus.html %}
  {%- endif -%}

</div>

<!-- 
    <p class="post-meta">{{ page.date | date: "%B %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
 -->